<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
    <title>DailyReportSystem</title>
    <link rel="stylesheet" th:href="@{/css/employees/detail.css}">
</head>
<body>
    <div class="title">
    <h1>ID:</h1>
    <h1 th:text="*{employee.id}"></h1>
    <h1>の従業員情報 詳細ページ</h1>
    </div>
    <form method="post" th:action="@{/employees/detail}">
        <table th:object="${employee}">
            <tr><th>社員番号</th><td th:text="*{authentication.code}"></td></tr>
            <tr><th>名前</th><td th:text="*{name}"></td></tr>
            <tr><th>権限</th><td th:text="*{authentication.role}"></td></tr>
            <tr><th>登録日時</th><td th:text="${#temporals.format(employee.createdAt, 'yyyy/MM/dd HH:mm:ss')}"></td></tr>
            <tr><th>更新日時</th><td th:text="${#temporals.format(employee.updatedAt, 'yyyy/MM/dd HH:mm:ss')}"></td></tr>
        </table>
    <a th:href="@{/employees/update/{id}/(id=${employee.id})}">この従業員情報を編集する</a>
    <br>
    <a th:href="@{/employees}">一覧に戻る</a>
    </form>
</body>
</html>