<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DailyReportSystem</title>
    <link rel="stylesheet" th:href="@{/css/employees/list.css}">
</head>
<body>
    <h1>従業員 一覧</h1>
    <table>
        <tr>
            <th>社員番号</th>
            <th>氏名</th>
            <th>操作</th>
        </tr>
        <tr th:each="employee : ${employeelist}">
            <td th:text="${employee.id}"></td>
            <td th:text="${employee.name}"></td>
            <td>
                <a th:href="@{/employees/detail/{id}/(id=${employee.id})}">詳細を見る</a>
            </td>
        </tr>
    </table>
    <p th:text="'(全 ' + ${totalEmployees} + ' 件)'"></p>
    <a href="/employees/register">新規従業員の登録</a>
</body>
</html>