<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DailyReportSystem</title>
    <link rel="stylesheet" th:href="@{/css/employees/register.css}">
</head>
<body>
    <h1>従業員 新規登録ページ</h1>
    <form method="post" th:action="@{/employees/register}" th:object="${employee}">
        <label for="code">社員番号</label>
        <br>
        <input type="text" th:field="*{authentication.code}">
        <br>
        <label for="name">氏名</label>
        <br>
        <input type="text" th:field="*{name}">
        <br>
        <label for="password">パスワード</label>
        <br>
        <input type="text" th:field="*{authentication.password}">
        <br>
        <label for="authentication.role">権限</label>

        <br>
        <input type="submit" value="投稿">
        <br>
        <a th:href="@{/employees}">一覧に戻る</a>
        </form>
</body>
</html>